header {
    background-color: red;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
  }
  
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
  }
  
  a {
    color: white;
  }
  